*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --white: hsl(0, 0%, 100%);

  --stone100: hsl(30, 54%, 90%);
  --stone150: hsl(30, 18%, 87%);
  --stone600: hsl(30, 10%, 34%);
  --stone900: hsl(24, 5%, 18%);

  --brown800: hsl(14, 45%, 36%);

  --rose800: hsl(332, 51%, 32%);
  --rose50: hsl(330, 100%, 98%);
}

body {
  background-color: var(--stone100);
  color: var(--stone600);
  font-size: 1.6rem;
  font-family: "Outfit", sans-serif;
}

h2 {
  color: var(--brown800);
  font-weight: 400;
  font-family: "Young Serif", sans-serif;
}

hr {
  border: 1px solid var(--stone150);
}

.recipe {
  background-color: var(--white);
  width: 100%;
}

.recipe__content {
  padding: 2em 2.1em;
}

.recipe__header {
  padding-bottom: 1.5em;
}

.recipe__title {
  margin-bottom: 0.57em;
  color: var(--stone900);
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 1;
  font-family: "Young Serif", sans-serif;
}

.recipe__desc {
  line-height: 1.5;
}

.recipe__prep {
  border-radius: 10px;
  background-color: var(--rose50);
  padding: 1.25em;
}

.recipe__prep-title {
  margin-bottom: 0.62em;
  color: var(--rose800);
  font-weight: 600;
  font-family: "Outfit";
}

.recipe__prep-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: inherit;
}

.recipe__prep-item {
  padding-left: 1.25em;
}

.recipe__prep-item span {
  font-weight: 700;
}

.recipe__ingredients {
  padding-top: 1.5em;
  padding-bottom: 2em;
}

.recipe__ingredients-title {
  margin-bottom: 0.6em;
  font-size: 3rem;
}

.recipe__ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 1.25em;
}

.recipe__ingredients-item {
  padding-left: 1.25em;
}

.recipe__instructions {
  padding-top: 2em;
  padding-bottom: 2em;
}

.recipe__instructions-title {
  margin-bottom: 0.6em;
  font-size: 3rem;
}

.recipe__instructions-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 1.5em;
}

.recipe__instructions-item {
  padding-left: 1.25em;
  line-height: 1.5;
}

.recipe__instructions-item span {
  font-weight: 700;
}

.recipe__nutrition {
  padding-top: 2em;
}

.recipe__nutrition-title {
  padding-bottom: 0.7em;
  font-size: 3rem;
}

.recipe__nutrition-desc {
  margin-bottom: 1.25em;
  line-height: 1.5;
}

.recipe__nutrition-table {
  border-collapse: collapse;
  width: 100%;
}

.recipe__nutrition-table td {
  padding: 0.75em 0;
}

.recipe__nutrition-table td:first-child {
  padding-left: 2em;
}

.recipe__nutrition-table tr:not(:last-child) {
  border-bottom: 1px solid var(--stone150);
}

.recipe__nutrition-table td:nth-child(2) {
  color: var(--brown800);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.5em 0;
  }

  .recipe {
    border-radius: 20px;
    padding: 2em 2.1em;
    max-width: 600px;
  }

  .recipe__content {
    padding: 0;
  }

  .recipe__img {
    margin-bottom: 2.2em;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .recipe {
    max-width: 800px;
  }

  .recipe__title {
    font-size: 4rem;
  }
}
